/* https://www.youtube.com/watch?v=1y4_MAPuJ40&list=PL2cTR2xj5VoyV7UKk6OTseFqI3g7i32Xc&index=15&ab_channel=H%C9%99s%C9%99nB%C9%99xtiyar */


button{
    color:chartreuse;
    border:3px solid #000;
    background-color: cornflowerblue;
}
#test{
    color: red;
}

.sinif{
    color: palevioletred;
}