@mixin center {
    
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}